@tailwind base;
@tailwind components;
@tailwind utilities;


.root {
   width: 100vw;
}

html{
  background-color: white;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #F1FAEE; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


/*Added not Selector to exclude link tags(routing)*/
a:not(.route) {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:not(.route):hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

body{
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*Resets*/


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


ul{
  list-style: none;
}

li{
  text-decoration: none;
}

a{
  text-decoration: none;
}

/*Trading section*/

.trading__section{
  height: 100%;
  width: 80%;
  color: black;
}

/*Header section*/
.header__container{
  color: black;
  min-width: 5rem;
  padding:2rem 4rem;
}

.header__container .left > h2{
  cursor: pointer;
}

.header__container .right a{
  color: black;
}

/*Layout sec*/
.layout__box{
  margin: 10rem auto;
  padding: 5rem;
  max-width: 47rem;
  border: black solid 1px;
  min-height: 38rem;
  color: white;
}

.layout__box .leverage-count{
  background-color: white;
  border: black solid 1px;
}

.btn{
  background-color: #535bf2;
  border-radius: 0.50rem;
  color: white;
  font-weight: 500;
}

.btn:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 0.85;
}

.btn:active{
  background-color: white;
  color:#535bf2;
}
